<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="le naturel, tisane,Problèmes de prostate, Incontinence urinaire, Gouttes retardataires, Envies fréquentes d'uriner, Infections urinaires fréquentes,
	Cancers du sein, VIH/SIDA, Diabète, Problèmes de glycémie, Problèmes de tension, Paralysies suite à un AVC, Prévention des AVC,
	Brûlures des plantes des pieds, Kystes, fibromes, myomes, dystrophie ovarienne, IST MST, ménopause précoce, maladies des poumons,
	hémorroïdes, constipation">

	<!-- title -->
	<title>Accueil| Bio Sante Merveille</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.jpg">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.2.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.2.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>

	<style>
		html {
  scroll-behavior: smooth;
}
		html, body {
			margin: 0;
			padding: 0;
		  }
	.slick-prev:before,
    .slick-next:before {
      color: black;
	  font-size: 50px;
    }

	.slick-slide {
		margin: 20px 0px;
	  }
	
	  * {
		box-sizing: border-box;
	  }
  
	  .slider {
		  width: 50%;
		  margin: 100px auto;
	  }
  
	  .slick-slide {
		margin: 0px 20px;
	  }
  
	  .slick-slide img {
		width: 100%;
	  }
  
	  .slick-slide {
		transition: all ease-in-out .3s;
		opacity: .5;
	  }
	
	  .slick-current {
		opacity: 1;
	  }
	  
	  .fa-solid{
		position: absolute;
		left: 49%;
		top: 90%;
		font-size: 5rem;
		transform: translate(-50%, -50%);
		color: #fff;
		transition: 0.3s;
	  }

	  .fa-solid:hover{
		color: #8ec63d;
	  }


	  
	</style>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="index.html">Accueil</a>
								</li>
								<li><a href="temoignage.html">Témoignages</a>
								</li>
								<li><a href="shop.html">Commandez</a>
						
								</li>
								<li><a href="contact.html">Contactez Nous</a></li>
								<li>
									<div class="social-icons">
										<ul>
											<li><a href="https://fb.watch/rSMtVD6Cvk/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://www.youtube.com/@biosantemerveille" target="_blank"><i class="fab fa-youtube"></i></a></li>				
										</ul>
									</div>
								</li>
							</ul>
						</nav>
			
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
      
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Bienvenue sur Bio Santé Merveille</p>
							<h1>Le Naturel, Puissante Tisane Africaine</h1>
							<h5 class="py-3 texte-ombre">Guérison Totale</h5>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Commandez</a>
								<a href="contact.html" class="bordered-btn">Contactez Nous</a>
								<a href="#maladie" class="text-center"><i class="fa-solid fa-chevron-down"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- end hero area -->
	<section id="maladie" >
		<div class="container">

			<div class="row py-5">
				<div class="col-lg-6 col-md-6 col-sm-12 py-4 bloc-galery">
					<input type="radio" id="image1" name="image" checked>
					<input type="radio" id="image2" name="image">
					<input type="radio" id="image3" name="image">

					<div class="container-carousel">
						<div class="featured-wrapper">
							<ul class="featured-list">
								<li>
									<figure>
										<img class="imgGalery" src="assets/img/products/image1.png" alt="">
									</figure>
								</li>
								<li>
									<figure>
										<img class="imgGalery" src="assets/img/products/image2.png"
											alt="">
									</figure>
								</li>
								<li>
									<figure>
										<img class="imgGalery" src="assets/img/products/image3.png"
											alt="">
									</figure>
								</li>
							</ul>
							<ul class="arrows">
								<li>
									<label for="image1"></label>
								</li>
								<li>
									<label for="image2"></label>
								</li>
								<li>
									<label for="image3"></label>
								</li>
							</ul>
							<ul class="dots">
								<li>
									<label for="image1"></label>
								</li>
								<li>
									<label for="image2"></label>
								</li>
								<li>
									<label for="image3"></label>
								</li>
							</ul>
						</div>
						<ul class="thumb-list">
							<li>
								<label for="image1">
									<img class="imgGalery" src="assets/img/products/image1.png" alt="">
									<span class="outer">
										<span class="inner">Caption1</span>
									</span>
								</label>
							</li>
							<li>
								<label for="image2">
									<img src="assets/img/products/image2.png" alt="">
									<span class="outer">
										<span class="inner">Caption2</span>
									</span>
								</label>
							</li>
							<li>
								<label for="image3">
									<img src="assets/img/products/image3.png" alt="">
									<span class="outer">
										<span class="inner">Caption3</span>
									</span>
								</label>
							</li>
						</ul>
						<div class="bouton-position">
							<a href="#" class="cart-btn mt-3 justify-content-center" data-toggle="modal"
							data-target="#exampleModalCenter">
							<i class="fas fa-shopping-cart"></i>
								Commandez maintenant!
							</a>
						</div>

						<!-- Modal -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title text-center" id="exampleModalLongTitle">
											<strong>Entrez vos informations puis validez!!!</strong>
											<br> 1 Parquet à 32.000 FCFA</h4>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" id="commande">
										<div class="contact-form" id="commande1">
											<form type="POST">

												<input type="text" placeholder="Nom & Prénoms" name="name&prenom" id="name&prenom" v-model="name">
												<input type="email" placeholder="Email" name="email"id="email" v-model="email">

												<input type="tel" placeholder="Téléphone" name="phone"
													id="phone" v-model="phone">
												<input type="text" placeholder="Nombre de parquets"
													name="number" id="number" v-model="nbr_kit">
												<input type="text"
													placeholder="Adresse de livraison (Ville/Quartier)"
													name="subject" id="subject" v-model="adresse">

												<input type="submit" value="Je valide ma commande"  @click.prevent="sendCommande1Data()">
											</form>
										</div>
										<p class="text-center">Informations 100% confidentielles &
											Sécurisées🔐
										</p>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 py-4 bloc-galery">
					<div class="container description-produit py-4">
						<h2><span class="orange-text">Prix  promo</span> pour ce mois <img src="assets/img/avaters/emo-joie.png" width="50px" alt="" srcset=""></h2>
						<h5 class="orange-text">32.000 FCFA</h5>
						<h4>Le NATUREL, votre puissante Tisane Africaine</h4>
						<div class="text">
							<p class="py-2">
								Découvrez <strong>"Le Naturel"</strong> , la tisane africaine aux vertus extraordinaires,
								également
								connue sous le nom de "produit miracle". Avec ces plantes aux vertus puissantes, <strong>"Le Naturel"</strong> 
								est votre allié dans le traitement efficace de plusieurs maladies, notamment :
								<strong>Problèmes de prostate, Incontinence urinaire, Gouttes retardataires, Envies fréquentes d'uriner, Infections urinaires fréquentes,
									Cancers du sein, Maladie virale, Diabète, Problèmes de glycémie, Problèmes de tension, Paralysies suite à un AVC, Prévention des AVC,
									Brûlures des plantes des pieds, Kystes, fibromes, myomes, dystrophie ovarienne, IST MST, ménopause précoce, maladies des poumons,
									hémorroïdes, constipation, 
								</strong>
								, <a class="link" href="shop.html">(Voir tous les cas traités par le
									Naturel...)</a> <br>
								Donnez à votre corps le traitement naturel dont il a besoin avec Le Naturel.
								Essayez-le dès aujourd'hui pour une santé optimale et un bien-être durable.
							</p>
						</div>
						<!--Countdown Timer-->
						
						<div class="bouton-position">
						<a href="cart.html" class="cart-btn mt-3 justify-content-center" data-toggle="modal"
						data-target="#exampleModalCenter">
							<i class="fas fa-shopping-cart"></i>
							Commandez maintenant!
						</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row py-5  my-slick-1">
				<div class="col-md-4 mb-4">
					<div class="card fa-card h-100"><img class="card-img-top w-100 h-50" src="assets/img/prostate_image.gif" alt="courses" />
					<div class="card-body">
						<h3 class="tittre-cadre">Rêvez vous de guérir de la prostate</h3>
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6 class="orange-text"> <a href="temoignage.html">Suivez des témoignages des personnes qui en souffraient de cette maladie.</a> </h6>
						
						
					</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card fa-card h-100"><img class="card-img-top w-100 h-50" src="assets/img/diabete_image.gif" alt="courses" />
					<div class="card-body">
						<h3 class="tittre-cadre">Vous être fatigué du Diabète</h3>
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6 class="orange-text"> <a href="temoignage.html">Suivez des témoignages des personnes qui en souffraient de cette maladie.</a> </h6>
						
				
					</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card fa-card h-100"><img class="card-img-top w-100 h-50" src="assets/img/concer_seins.gif" alt="courses" />
					<div class="card-body">
						<h3 class="tittre-cadre">Le cancer de seins, plus d'espoir</h3>
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6 class="orange-text"> <a href="temoignage.html">Suivez des témoignages des personnes qui en souffraient de cette maladie.</a> </h6>
						
						
					</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card fa-card h-100"><img class="card-img-top w-100 h-50" src="assets/img/hemoroide_image.gif" alt="image hemorroide" />
					<div class="card-body">
						<h3 class="tittre-cadre">Vous en avez mare des hemorroides</h3>
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6 class="orange-text"> <a href="temoignage.html">Suivez des témoignages des personnes qui en souffraient de cette maladie.</a> </h6>
						
						
					</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card fa-card h-100"><img class="card-img-top w-100 h-50" src="assets/img/ulcere_image.png"alt="image ulcère" />
					<div class="card-body">
						<h3 class="tittre-cadre">L'ulcère, vous en souffrez de vivre avec.</h3>
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6 class="orange-text"> <a href="temoignage.html">Suivez des témoignages des personnes qui en souffraient de cette maladie.</a> </h6>
						
					</div>
					</div>
				</div>
			</div>
			<div class="lien-page">
				<h4 class="clignote"><a href="shop.html">Cliquez ici pour voir tous les cas de maladies que "<strong>le Naturel</strong>" traite >>></a></h4>
			</div>
			
		</div>
	</section>
		
	<section class="bloc-galery" >	
			
			<h3 class="my-4 text-center pt-4" >Témoignages  de certains clients guéris sur notre page youtube... </h3>
		<div class="container">
			<div class="row py-5 ">

				<div class="my-5 col-md-4 col-sm-6 col-xs-12">
					<h5>Elle a été guéri du du diabète et du cancer du sein...</h5>
					<div class="video-title">
						<!-- <h5>Elle nous témoigne sur un cas de prostate...</h5> -->
						<iframe src="https://www.youtube.com/embed/G3h5HJrc9Iw?si=XocZUWoMjCDJxtYC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
				</div>

				<div class="my-5 col-md-4 col-sm-6 col-xs-12">
					<h5>Guérison de l'hépatite B : le témoignage d'un infirmier...</h5>
					<div class="video-title">
						<!-- <h5>Elle nous témoigne sur un cas de prostate...</h5> -->
						<iframe src="https://www.youtube.com/embed/HV8XUR1o4Dc?si=1slsud0xOmyQcSX-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
				</div>

				<div class="my-5 col-md-4 col-sm-6">
					<h5>Aujourd'hui, il est guéri de l'hémorroïdes...</h5>
					<div class="video-title">
						<!-- <h5>Elle nous témoigne sur un cas de prostate...</h5> -->
						<iframe src="https://www.youtube.com/embed/b000bmmxtRI?si=wqWRUbiJ6T-ZGESG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
				</div>

				<div class="my-5 col-md-4 col-sm-6 col-xs-12">
					<h5>Elle a été guérie de l'ulcère...</h5>
					<div class="video-title">
						<!-- <h5>Elle nous témoigne sur un cas de prostate...</h5> -->
						<iframe  src="https://www.youtube.com/embed/BmvzWRa1-9g?si=pQ7dsXFBZ4R3_8Oa"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
				</div>

				<div class="my-5 col-md-4 col-sm-6 col-xs-12">
					<h5>Elle a été guérie du Kyste</h5>
					<div class="video-title">
						<!-- <h5>Elle nous témoigne sur un cas de prostate...</h5> -->
						<iframe src="https://www.youtube.com/embed/bSIMMEYIWGE?si=0dbDquNyGHH6OXMf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
					<div class="lien-page">
						<h4 class="clignote"><a href="temoignage.html">Cliquez ici pour plus de Témoignages!</a></h4>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section>
		<h3 class="my-4 text-center">Quelques avis certains clients</h3>
		<div class="container">
			<div class="row avis py-4" style="background-color: rgb(255, 255, 255);">
				<div class="h-50"><img class="my-2  w-100 h-50" src="assets/img/avi1.png" alt="avi1" srcset=""></div>
				<div class="h-50"><img class="my-2  w-100 h-50" src="assets/img/avi2.png" alt="avi2" srcset=""></div>
				<div class="h-50"><img class="my-2  w-100 h-50" src="assets/img/avi3.png" alt="avi3" srcset=""></div>
				<div class="h-50"><img class="my-2  w-100 h-50" src="assets/img/avi4.png" alt="avi4" srcset=""></div>
				<div class="h-50"><img class="my-2  w-100 h-50" src="assets/img/avi5.png" alt="avi5" srcset=""></div>
			</div>
		</div>	
	</section>
				
	<section class="bloc-galery p-4">
		<h3 class="my-4 text-center">Témoignage d'une patiente guérie d'un kyste, avec échographies avant et après le traitement</h3>
		<div class="container">
			<div class="row py-4">
				<div class="col-md-4 col-sm-6"><img class="my-4" src="assets/img/whatsp1.jpg" alt="whatsp1" srcset=""></div>
				<div class="col-md-4 col-sm-6"><img class="my-4" src="assets/img/whatsp2.jpg" alt="whatsp2" srcset=""></div>
				<div class="col-md-4 col-sm-6"><img class="my-4" src="assets/img/whatsap3.jpg" alt="whatsap3" srcset=""></div>
			</div>
		</div>
	</section>
                
	<section>
		<h3 class="my-4 p-4 text-center">Il souvrait de l'hypertension, mais aujourd'hui il nous remerci!</h3>
		<div class=" container text-center h-50">
			<img class="my-4 h-100" src="assets/img/whatsp4.jpg" alt="whatsp4" srcset="">

		</div>
	</section>
				

				<div class="bouton-position my-4">
					<a href="cart.html" class="cart-btn mt-3 justify-content-center" data-toggle="modal"
					data-target="#exampleModalCenter">
					   <i class="fas fa-shopping-cart"></i>
					    Commandez maintenant!
					 </a>
				    </div>
				</div>

		</div>

	</div>

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Livraison</h3>
							<p>Nous livrons partout en Cote D'Ivoire.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Assistance 24h/24 et 7j/7</h3>
							<p>Nous vous offrons une aide rapide et efficace.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-money-check-alt"></i>
						</div>
						<div class="content">
							<h3>Payement sécurisé</h3>
							<p>Payez à la livraison ou sur nos mobile money (0707438146 & 0544510103 )</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Bio Sante Merveille</h2>
						<p>Bio Santé Merveille est une struture spécialisé dans la santé qui offre à améliorer la vie des patients avec
						   des traitements 100% bio.
			
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Adresses</h2>
						<ul>
							<li><i class="fas fa-map-marker-alt"></i> :Bouaké, Quatier Commerce,</li>
							<li><i class="fas fa-envelope"></i> :biosantemerveille@gmail.com</li>
							<li><i class="fas fa-phone-volume"></i> :+225 07 07 43 81 46</li>
							<li><i class="fas fa-phone-volume"></i> :+225 05 44 51 01 03</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Accueil</a></li>
							<li><a href="temoignage.html">Témoignages </a></li>
							<li><a href="shop.html">Commandez votre Tisane</a></li>
							<li><a href="contact.html">Contactez Nous</a></li>
			
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Termes et politiques</h2>
						<ul>
							<li><a>Conditions d'utilisation</a></li>
							<li><a>Politique de confidentialité </a></li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2024 - <a href="index.html">Bio Santé Merveille</a>,  Tous droits est réservés.	
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="https://fb.watch/rSMtVD6Cvk/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://www.youtube.com/@biosantemerveille" target="_blank"><i class="fab fa-youtube"></i></a></li>
				
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="assets/js/slick.min.js"></script>

	<!-- script pour la chatBot whatsapp -->
	<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer>
	</script>
       <div class="elfsight-app-dd5ab504-3319-4503-bf3e-a0fad911a3b1" data-elfsight-app-lazy></div>

	<script type="text/javascript">
		$('.my-slick-1').slick({
			dots: true,
			centerMode: true,
			centerPadding: '60px',
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 1,
			speed: 300,
				responsive: [
				{
				  breakpoint: 950,
				  settings: {
					slidesToShow: 2,
					slidesToScroll: 1,
					centerPadding: '50px',
					centerMode: true,
					infinite: true,
					prevArrow: false,
					nextArrow: false,
				  }
				},
				{
				  breakpoint: 600,
				  settings: {
					centerMode: true,
					autoplay: false,
					infinite: true,
					centerPadding: '50px',
					slidesToShow: 1,
					slidesToScroll: 1,
					prevArrow: false,
					nextArrow: false,
				  }
				},
			  ]
		});

		$('.avis').slick({
			dots: true,
			slidesToShow: 2,
			autoplay: true,
			infinite: true,
			pauseOnHover: true,
      		autoplayspeed: 2000,
			responsive: [
			  {
				breakpoint: 950,
				settings: {
				  slidesToShow: 2,
				  slidesToScroll: 1,
				  centerPadding: '50px',
				  centerMode: true,
				  infinite: true,
				  prevArrow: false,
				  nextArrow: false,
				}
			  },
			  {
				breakpoint: 600,
				settings: {
				  centerMode: true,
				  autoplay: false,
				  infinite: true,
				  centerPadding: '50px',
				  slidesToShow: 1,
				  slidesToScroll: 1,
				  prevArrow: false,
				  nextArrow: false,
				}
			  },
			]
		});
	</script>

	<script>
		new Vue({
			el: '#commande1',
			data: {
				name: '',
				email: '',
				phone: '',
				nbr_kit: '',
				adresse: '',
			},
			computed: {},
			methods: {
				sendCommande1Data(){
					if(this.name == '', this.email == '', this.phone == '', this.nbr_kit == '', this.adresse == ''){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez remplir tous les champs !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(!/^[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(this.email)){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir un email valide !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(!/^(01|05|07)(?:,| )?.*$/.test(this.phone)){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir un numéro de téléphone à 10 chiffres valide !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(this.nbr_kit == ''){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir le nombre de kit !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else{
						axios.post('https://moro15.pythonanywhere.com/api/commandes/',{
							"name": this.name,
							"email": this.email,
							"phone": this.phone,
							"nbr_kit": this.nbr_kit,
							"adresse": this.adresse
						}).then(function(response){
							console.log(response)
						});
						Swal.fire({
							icon: 'success',
							title: 'Commande validée',
							text: "Merci de nous faire confiance !!! ",
							showConfirmButton: false,
							timer: 2000,
						});
						setTimeout(() => {
							window.location.reload()
						  }, '2000')
					}
				
				}
			}
		})
	</script>


</body>
</html>