<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<!-- title -->
	<title>Bio Sante Merveille</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="assets/img/products/image/png" href="assets/img/favicon.jpg">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

	<!--PreLoader-->
	<!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
	<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a href="index.html">
							<img src="assets/img/logo.png" alt="">
						</a>
					</div>
					<!-- logo -->

					<!-- menu start -->
					<nav class="main-menu">
						<ul>
							<li><a href="index.html">Accueil</a>
							</li>
							<li><a href="about.html">A propos De Nous</a></li>
							<li><a href="temoignage.html">Témoignages</a>
							</li>
							<li class="current-list-item"><a href="shop.html">Commandez</a>
					
							</li>
							<li><a href="contact.html">Contactez Nous</a></li>
							<li>
								<div class="social-icons">
									<ul>
										<li><a href="https://fb.watch/rSMtVD6Cvk/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://www.youtube.com/@biosantemerveille" target="_blank"><i class="fab fa-youtube"></i></a></li>				
									</ul>
								</div>
							</li>
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end header -->

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Fresh & Organic</p>
							<h1>Le Naturel Puissant Tisane Africain</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Commandez</a>
								<a href="contact.html" class="bordered-btn">Contactez Nous</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<div class="container">

		<div class="row py-5">
			<div class="col-lg-6 col-md-6 col-sm-12 py-4 bloc-galery ">
				<input type="radio" id="image1" name="image" checked>
				<input type="radio" id="image2" name="image">
				<input type="radio" id="image3" name="image">

				<div class="container-carousel">
					<div class="featured-wrapper">
						<ul class="featured-list">
							<li>
								<figure>
									<img class="imgGalery" src="assets/img/products/image1.png" alt="">
								</figure>
							</li>
							<li>
								<figure>
									<img class="imgGalery" src="assets/img/products/image2.png"
										alt="">
								</figure>
							</li>
							<li>
								<figure>
									<img class="imgGalery" src="assets/img/products/image3.png"
										alt="">
								</figure>
							</li>
						</ul>
						<ul class="arrows">
							<li>
								<label for="image1"></label>
							</li>
							<li>
								<label for="image2"></label>
							</li>
							<li>
								<label for="image3"></label>
							</li>
						</ul>
						<ul class="dots">
							<li>
								<label for="image1"></label>
							</li>
							<li>
								<label for="image2"></label>
							</li>
							<li>
								<label for="image3"></label>
							</li>
						</ul>
					</div>
					<ul class="thumb-list">
						<li>
							<label for="image1">
								<img class="imgGalery" src="assets/img/products/image1.png" alt="">
								<span class="outer">
									<span class="inner">Caption1</span>
								</span>
							</label>
						</li>
						<li>
							<label for="image2">
								<img src="assets/img/products/image2.png" alt="">
								<span class="outer">
									<span class="inner">Caption2</span>
								</span>
							</label>
						</li>
						<li>
							<label for="image3">
								<img src="assets/img/products/image3.png" alt="">
								<span class="outer">
									<span class="inner">Caption3</span>
								</span>
							</label>
						</li>
					</ul>
					<div class="bouton-position">
						<a href="#" class="cart-btn mt-3 justify-content-center" data-toggle="modal"
						data-target="#exampleModalCenter">
						   <i class="fas fa-shopping-cart"></i>
						    Commandez maintenant!
						 </a>
					    </div>

					<!-- Modal -->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title text-center" id="exampleModalLongTitle">
										<strong>Entrez vos informations puis validez!!!</strong>
										<br> 1 KIT à 32.000 FCFA</h4>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body" id="commande">
									<div class="contact-form">
										<form type="POST" id="">

											<input type="text" placeholder="Nom & Prénoms" name="name&prenom" id="name&prenom" v-model="name">
											<input type="email" placeholder="Email" name="email"id="email" v-model="email">

											<input type="tel" placeholder="Téléphone" name="phone"
												id="phone" v-model="phone">
											<input type="text" placeholder="Nombre de kits"
												name="number" id="number" v-model="nbr_kit">
											<input type="text"
												placeholder="Adresse de livraison (Ville/Quartier)"
												name="subject" id="subject" v-model="adresse">

											<input type="submit" value="Je valide ma commande"  @click.prevent="sendCommandeData()">
										</form>
									</div>
									<p class="text-center">Informations 100% confidentielles &
										Sécurisées🔐
									</p>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="col-lg-6 col-md-6 col-sm-12">
				<!--Content Column-->
				<div class="container description-produit py-4">
					<h2><span class="orange-text">Profitez</span> de ce mois <img src="assets/img/avaters/emo-joie.png" width="50px" alt="" srcset=""></h2>
					<h4>Le NATUREL, votre puissante Tisane Africaine</h4>
					<div class="text">
						<p class="py-2">
							Découvrez Le Naturel, la tisane africaine aux vertus extraordinaires,
							également
							connue sous le nom de "produit miracle". Avec sa formule puissante, Le Naturel
							est votre allié dans le traitement efficace de plusieurs maladies, notamment :
							<strong>Problèmes de prostate, Incontinence urinaire, Gouttes retardataires, Envies fréquentes d'uriner, Infections urinaires fréquentes,
								Cancers du sein, VIH/SIDA, Diabète, Problèmes de glycémie, Problèmes de tension, Paralysies suite à un AVC, Prévention des AVC,
								Brûlures des plantes des pieds, Kystes, fibromes, myomes
							</strong>
							, <a class="link" href="shop.html">(Voir tous les cas traités par le
								Naturel...)</a> <br>
							Donnez à votre corps le traitement naturel dont il a besoin avec Le Naturel.
							Essayez-le dès aujourd'hui pour une santé optimale et un bien-être durable.
						</p>
					</div>
					<!--Countdown Timer-->
					<div class="time-counter time-false bouton-position">
						<div class="time-countdown clearfix" data-countdown="2020/2/01">
							<div class="counter-column">
								<div class="inner"><span class="count">00</span>Jours</div>
							</div>
							<div class="counter-column">
								<div class="inner"><span class="count">00</span>Heures</div>
							</div>
							<div class="counter-column">
								<div class="inner"><span class="count">00</span>Mins</div>
							</div>
							<div class="counter-column">
								<div class="inner"><span class="count">00</span>Secs</div>
							</div>
						</div>
					</div>
					<div class="bouton-position">
					  <a href="cart.html" class="cart-btn mt-3 justify-content-center" data-toggle="modal"
					  data-target="#exampleModalCenter">
					     <i class="fas fa-shopping-cart"></i>
						Commandez maintenant!
					   </a>
					</div>
					
					<div class="image-title-cadre py-4">
						<h3 class="tittre-cadre">Rêvez vous prononcer la phrase  " je suis guéri de la prostate "</h3>
						<img src="assets/img/prostate_image.gif" alt="image prostate" srcset="">
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6> <a href="temoignage.html">Suivre des temoignages des personnes qui souvraient de la prostate</a> </h6>

					</div>
					<div class="image-title-cadre py-4">
						<h3 class="tittre-cadre">Vous souvrez du Diabète, la tisane miraculeuse est la pour vous</h3>
						<img src="assets/img/diabete_image.gif" alt="image diabete" srcset="">
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6> <a href="temoignage.html">Suivre des temoignages des personnes qui soivraient du diabète</a> </h6>
					</div>
					<div class="image-title-cadre py-4">
						<h3 class="tittre-cadre">Traitez le cancer de seins en tout simplicité</h3>
						<img src="assets/img/concer_seins.gif" alt="image cancer de seins" srcset="">
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6> <a href="temoignage.html">Suivre des temoignages des personnes qui ont été guerir du cancer de seins</a> </h6>
					</div>
					<div class="image-title-cadre py-4">
						<h3 class="tittre-cadre">L'Hémorroïde vous en etre fatiguer, vous avez la solution avec sle Naturel </h3>
						<img src="assets/img/hemoroide_image.gif" alt="image hemorroide" srcset="">
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6> <a href="temoignage.html">Suivre des temoignages des personnes qui ont été guerir du cancer de seins</a> </h6>
					</div>
					<div class="image-title-cadre py-4">
						<h3 class="tittre-cadre">Guerissez votre ulcère avec le Naturel</h3>
							<img src="assets/img/ulcere_image.png" alt="image ulcère" srcset="">
						
						<h6>Ne vous inquitez plus la solution se trouve avec <strong>Le Naturel</strong></h6>
						<h6> <a href="temoignage.html">Suivre des temoignages des personnes qui ont été guerir du cancer de seins</a> </h6>
					</div>
					<div class="lien-page">
						<h4 class="clignote"><a href="shop.html">Cliquez ici pour voir tous les cas de maladies que "<strong>le Naturel</strong>" traite >>></a></h4>
						
					</div>
				</div>
				<h4 class="my-4" >Témoignagesde certains clients guéris sur notre page youtube... </h4>
				<div class="video my-5">
					<h5>Aujourd'hui, il est guéri de l'hémorroïdes...</h5>
					<div class="video-title">
						<!-- <h5>Elle nous témoigne sur un cas de prostate...</h5> -->
						<iframe src="https://www.youtube.com/embed/b000bmmxtRI?si=wqWRUbiJ6T-ZGESG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
				</div>
				<div class="video my-4">
					<div class="video">
						<h5>Elle est guéri de l'ulcère...</h5>
						<div class="video-title">
							<!-- <h5>Elle nous témoigne sur un cas de prostate...</h5> -->
							<iframe  src="https://www.youtube.com/embed/BmvzWRa1-9g?si=pQ7dsXFBZ4R3_8Oa"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="video my-4">
					<div class="video">
						<h5>Elles ont été guéries des fibromes et des kystes....</h5>
						<div class="video-title">
							<!-- <h5>Elle nous témoigne sur un cas de prostate...</h5> -->
							<iframe  src="https://www.youtube.com/embed/Oq2m78BDAx8?si=wpODaV-p1zKrkrnU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="lien-page">
					<h4 class="clignote"><a href="temoignage.html">Cliquez ici pour plus de Témoignages!</a></h4>
				</div>
				<h3 class="my-4">Quelques avis certains clients</h3>
				<div class="avis py-4">
					<img class="my-2" src="assets/img/avi1.png" alt="avi1" srcset="">
					<img class="my-2" src="assets/img/avi2.png" alt="avi2" srcset="">
					<img class="my-2" src="assets/img/avi3.png" alt="avi3" srcset="">
					<img class="my-2" src="assets/img/avi4.png" alt="avi4" srcset="">
					<img class="my-2" src="assets/img/avi5.png" alt="avi5" srcset="">

				</div>
				<div class="bouton-position my-4">
					<a href="cart.html" class="cart-btn mt-3 justify-content-center" data-toggle="modal"
					data-target="#exampleModalCenter">
					   <i class="fas fa-shopping-cart"></i>
					    Commandez maintenant!
					 </a>
				    </div>
			</div>

		</div>

	</div>

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Livraison</h3>
							<p>Nous livrons partout en Cote D'Ivoire.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Assistance 24h/24 et 7j/7</h3>
							<p>Nous vous offrons une aide rapide et efficace.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-money-check-alt"></i>
						</div>
						<div class="content">
							<h3>Payement sécurisé</h3>
							<p>Payez à la livraison ou sur nos mobile money (0707438146 & 0544510103 )</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Bio Sante Merveille</h2>
						<p>Ut eninm ad minngim veniam perspjiciatis unde omnis iste natus er doloremque
							laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Adresses</h2>
						<ul>
							<li><i class="fas fa-map-marker-alt"></i> :Bouaké, Quatier Commerce</li>
							<li><i class="fas fa-envelope"></i> :biosantemerveille@gmail.com</li>
							<li><i class="fas fa-phone-volume"></i> :+225 07 07 43 81 46</li>
							<li><i class="fas fa-phone-volume"></i> :+225 05 44 51 01 03</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Accueil</a></li>
							<li><a href="temoignage.html">Témoignages </a></li>
							<li><a href="shop.html">Commandez votre Tisane</a></li>
							<li><a href="contact.html">Contactez Nous</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Termes et politiques</h2>
						<ul>
							<li><a href="#">Conditions d'utilisation</a></li>
							<li><a href="#">Politique de confidentialité </a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2024 - <a href="#">Bio Santé Merveille</a>, Tous droits réservés.<br>
						Conçu par - <a href="#">Mr Digit </a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="https://fb.watch/rSMtVD6Cvk/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://www.youtube.com/@biosantemerveille" target="_blank"><i class="fab fa-youtube"></i></a></li>
				
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.product-slider-desktop').slick({
				arrows: true,
				dots: true,
				infinite: true,
				speed: 500,
				fade: true,
				cssEase: 'linear',
				slidesToShow: 1,
				slidesToScroll: 1,
				sync: {
					element: '.thumbnails ul',
					method: 'sync'
				}
			});
			$('.thumbnails ul').on('click', 'li', function(e) {
				var slideIndex = $(this).data('slick-index');
				$('.product-slider-desktop').slick('slickGoTo', slideIndex);
			});
		});
	</script>

	<script>
		var app1 = new Vue({
			el: '#commande',
			data: {
				name: '',
				email: '',
				phone: '',
				nbr_kit: '',
				adresse: '',
			},
			computed: {},
			methods: {
				sendCommandeData(){
					if(this.name == '', this.email == '', this.phone == '', this.nbr_kit == '', this.adresse == ''){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez remplir tous les champs !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(this.name == ''){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir votre nom & prénom !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(!/^[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(this.email)){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir un email valide !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(!/^(01|05|07)(?:,| )?.*$/.test(this.phone)){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir un numéro de téléphone à 10 chiffres valide !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(this.nbr_kit == ''){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir le nombre de kit !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(this.adresse == ''){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir votre adresse !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else{
						axios.post('https://moro15.pythonanywhere.com/api/commandes/',{
							"name": this.name,
							"email": this.email,
							"phone": this.phone,
							"nbr_kit": this.nbr_kit,
							"adresse": this.adresse
						}).then(function(response){
							console.log(response)
						});
						Swal.fire({
							icon: 'success',
							title: 'Commande validée',
							text: "Merci de nous faire confiance !!! ",
							showConfirmButton: false,
							timer: 2000,
						});
						setTimeout(() => {
							window.location.reload()
						  }, '2000')
					}
				}
			},
		})
	</script>

</body>

</html>