<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="le naturel, tisane,Problèmes de prostate, Incontinence urinaire, Gouttes retardataires, Envies fréquentes d'uriner, Infections urinaires fréquentes,
	Cancers du sein, VIH/SIDA, Diabète, Problèmes de glycémie, Problèmes de tension, Paralysies suite à un AVC, Prévention des AVC,
	Brûlures des plantes des pieds, Kystes, fibromes, myomes, dystrophie ovarienne, IST MST, ménopause précoce, maladies des poumons,
	hémorroïdes, constipation">

	<!-- title -->
	<title>Commande | Bio Sante Merveille</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.jpg">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="index.html">Accueil</a>
								</li>
								<li><a href="temoignage.html">Témoignages</a>
								</li>
								<li class="current-list-item"><a href="shop.html">Commandez</a>
						
								</li>
								<li><a href="contact.html">Contactez Nous</a></li>
								<li>
									<div class="social-icons">
										<ul>
											<li><a href="https://fb.watch/rSMtVD6Cvk/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://www.youtube.com/@biosantemerveille" target="_blank"><i class="fab fa-youtube"></i></a></li>				
										</ul>
									</div>
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
      <!-- breadcrumb-section -->
      <div class="breadcrumb-section breadcrumb-bg">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-8 offset-lg-2 text-center">
                              <div class="breadcrumb-text">
                                    <p>Livraison partout 🚚</p>
                                    <h1>Commandez votre tisane</h1>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <!-- end breadcrumb section -->
 
      <div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="assets/img/products/image2.png" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3>PUISSANTE TISANE AFRICAINE __💪💪 __</h3>
						<h5 class="py-3">Guérison Totale</h5>
						<p class="single-product-pricing"><span>1 Parquet</span> 32 000 FCFA</p>
						<p>La plus grande douleur est de ne pas savoir qu'il existe une solution à son problème, 
							c'est-à-dire quand on ne sait plus ce qui peut nous soulager. Heureusement pour vous, 
							il y a une solution, un remède au mal qui vous fatigue depuis des années. Il y a encore 
							de l'espoir. Ne cherchez plus, vous avez maintenant devant vous le remède 
							<strong>Naturel</strong>  
							qui guérit.
						</p>
						<p> Vous souffrez de: <strong>de prostate, Incontinence urinaire, Gouttes retardataires,
							 Envies fréquentes d'uriner, Infections urinaires fréquentes, Cancers du sein, Maladie virale, 
							 Diabète, Problèmes de glycémie, Problèmes de tension, Paralysies suite à un AVC, 
							 Prévention des AVC, Brûlures des plantes des pieds, Kystes, fibromes, myomes,
							  dystrophie ovarienne, IST MST, ménopause précoce, maladies des poumons,
							 hémorroïdes, constipation, faiblesse sexuels, éjaculation  précoce, infertilité,
							  la sinusite, insomnies, les maladies du foie(hépatites (A, B et C) 
							 foie gras, cirrhose de foie, stéatose), problèmes de nerfs, rhumatisme, arthroses, 
							 arthrite, asthme, Tuberculose, colopathie, les hernies, diarrhée, dysenterie, partie
							  du corps enflée, vieillissement précoce, bouton(furoncle, zona, varicelle, variole, rougeole...), 
							  problème de cholestérol, fièvre à répétition. <br>Puissante détoxe, il traite aussi les mauvaises graisse dans le corps et aussi les graisse abdominale (Ventre plat).</strong> </p>

							 <div class="bouton-position">
								<a href="cart.html" class="cart-btn mt-3 justify-content-center" data-toggle="modal"
								data-target="#exampleModalCenter">
								   <i class="fas fa-shopping-cart"></i>
								    Commandez maintenant!
								 </a>
							    </div>

							    <!-- Modal -->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title text-center" id="exampleModalLongTitle">
									<strong>Entrez vos informations puis validez!!!</strong>
									<br> 1 Parquet à 32.000 FCFA</h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="contact-form" id="commande1">
									<form type="POST" id="fruitkha-contact">

										<input type="text" placeholder="Nom & Prénoms"
											name="name&prenom" id="name&prenom" v-model="name">
										<input type="email" placeholder="Email" name="email"
											id="email" v-model="email">

										<input type="tel" placeholder="Téléphone" name="phone"
											id="phone" v-model="phone">
										<input type="text" placeholder="Nombre de paquets"
											name="number" id="number" v-model="nbr_kit">
										<input type="text"
											placeholder="Adresse de livraison (Ville/Quartier)"
											name="subject" id="subject" v-model="adresse">

										<input type="submit" value="Je valide ma commande" @click.prevent="sendCommande1Data()">
									</form>
								</div>
								<p class="text-center">Informations 100% confidentielles &
									Sécurisées🔐
								</p>
							</div>

						</div>
					</div>
				</div>
						
					</div>
				</div>
			</div>
			<h3 class="my-5" style="text-decoration: underline;">*Foire aux questions:</h3>

			<div >
				<div class="accordion">
					<div class="accordion" id="accordionExample">
					  <div class="card single-accordion">
					    <div class="card-header" id="headingOne">
						<h5 class="mb-0">
						  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						    Qu'est ce que le Naturel?
						  </button>
						</h5>
					    </div>

					    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
						  <div class="shipping-address-form">
							 <p>Le naturel, puissante tisane africaine est un ensemble de plantes naturelles aux 
								multiples vertus encore qualifiées de produits miracles qui a été longtemps 
								jalousé et gardées au sein d’une famille africaine pour ses vertus thérapeutiques 
								et extraordinaires.
							</p>
						  </div>
						</div>
					    </div>
					  </div>
					  <div class="card single-accordion">
					    <div class="card-header" id="headingTwo">
						<h5 class="mb-0">
						  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						    Comment utilisé le Naturel?
						  </button>
						</h5>
					    </div>
					    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
						  <div class="shipping-address-form">
							<p>En fonction de chaque cas de maladie, vous trouverez une méthode d'utilisation dans notre notice.</p>
						  </div>
						</div>
					    </div>
					  </div>
                                
					  <div class="card single-accordion">
						<div class="card-header" id="headingThree">
						  <h5 class="mb-0">
						    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Où puis-je acheter le Naturel, Puissante Tisane Africaine ? 
						    </button>
						  </h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						  <div class="card-body">
						    <div class="card-details">
							  <p>Le Naturel, Puissante Tisane Africaine est disponible en ligne et dans notre magasin.</p>
						    </div>
						  </div>
						</div>
					    </div>
                                  
					    <div class="card single-accordion">
						<div class="card-header" id="headingFore">
						  <h5 class="mb-0">
						    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFore" aria-expanded="false" aria-controls="collapseThree">
							Combien coûte le Naturel? 
						    </button>
						  </h5>
						</div>
						<div id="collapseFore" class="collapse" aria-labelledby="headingFore" data-parent="#accordionExample">
						  <div class="card-body">
						    <div class="card-details">
							  <p>Le Puissante Tisane Africaine "Le Naturel" coûte 32.000 FCFA le parquet.</p>
						    </div>
						  </div>
						</div>
					    </div>


					  <div class="card single-accordion">
					    <div class="card-header" id="headingFive">
						<h5 class="mb-0">
						  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						    La livraison est-il possible partout? 
						  </button>
						</h5>
					    </div>
					    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
						<div class="card-body">
						  <div class="card-details">
							<p>Oui, nous livrons partout en Côte d'Ivoire et nous expédions également à l'étranger.</p>
						  </div>
						</div>
					    </div>
					  </div>
                                
					  <div class="card single-accordion">
						<div class="card-header" id="headingSix">
						  <h5 class="mb-0">
						    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							J'ai d'autres questions. 
						    </button>
						  </h5>
						</div>
						<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
						  <div class="card-body">
						    <div class="card-details">
							  <p>Si vous avez d'autres questions sur le Naturel, n'hésitez pas à nous contacter aux numéros suivants: <br> +225 07 07 43 81 46 <br> +225 05 44 51 01 03 <br> Ou laissez nous un message en cliquant sur le bouton <br> 
								<button type="button" class="btn btn-outline-success"><a href="contact.html">J'envoie un message</a></button>   <br> Nous serons ravis de vous renseigner.</p>
						    </div>
						  </div>
						</div>
					    </div>

					</div>

				</div>
			</div>


		</div>
	</div>
	<!-- end single product -->
	


	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Bio Sante Merveille</h2>
						<p>Bio Santé Merveille est une struture spécialisé dans la santé qui offre à améliorer la vie des patients avec
						   des traitements 100% bio.
			
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Adresses</h2>
						<ul>
							<li><i class="fas fa-map-marker-alt"></i> :Bouaké, Quatier Commerce,</li>
							<li><i class="fas fa-envelope"></i> :biosantemerveille@gmail.com</li>
							<li><i class="fas fa-phone-volume"></i> :+225 07 07 43 81 46</li>
							<li><i class="fas fa-phone-volume"></i> :+225 05 44 51 01 03</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Accueil</a></li>
							<li><a href="temoignage.html">Témoignages </a></li>
							<li><a href="shop.html">Commandez votre Tisane</a></li>
							<li><a href="contact.html">Contactez Nous</a></li>
			
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Termes et politiques</h2>
						<ul>
							<li><a>Conditions d'utilisation</a></li>
							<li><a>Politique de confidentialité </a></li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2024 - <a href="index.html">Bio Santé Merveille</a>,  Tous droits est réservés.	
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="https://fb.watch/rSMtVD6Cvk/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://www.youtube.com/@biosantemerveille" target="_blank"><i class="fab fa-youtube"></i></a></li>
				
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- script pour la chatBot whatsapp -->
	<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer>
	</script>
       <div class="elfsight-app-dd5ab504-3319-4503-bf3e-a0fad911a3b1" data-elfsight-app-lazy></div>

	<script>
		new Vue({
			el: '#commande1',
			data: {
				name: '',
				email: '',
				phone: '',
				nbr_kit: '',
				adresse: '',
			},
			computed: {},
			methods: {
				sendCommande1Data(){
					if(this.name == '', this.email == '', this.phone == '', this.nbr_kit == '', this.adresse == ''){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez remplir tous les champs !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(!/^[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(this.email)){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir un email valide !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(!/^(01|05|07)(?:,| )?.*$/.test(this.phone)){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir un numéro de téléphone à 10 chiffres valide !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else if(this.nbr_kit == ''){
						Swal.fire({
							icon: 'error',
							title: 'Erreur',
							text: "veuillez saisir le nombre de kit !!! ",
							showConfirmButton: false,
							timer: 2000,
						})
					}else{
						axios.post('https://moro15.pythonanywhere.com/api/commandes/',{
							"name": this.name,
							"email": this.email,
							"phone": this.phone,
							"nbr_kit": this.nbr_kit,
							"adresse": this.adresse
						}).then(function(response){
							console.log(response)
						});
						Swal.fire({
							icon: 'success',
							title: 'Commande validée',
							text: "Merci de nous faire confiance !!! ",
							showConfirmButton: false,
							timer: 2000,
						});
						setTimeout(() => {
							window.location.reload()
						  }, '2000')
					}
				
				}
			}
		})
	</script>

</body>
</html>